
        <% include header %>

<h1 class = "col-md-offset-4"> Admin Dashboard</h1>
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero quibusdam deleniti maxime enim error quas, incidunt voluptatibus nemo consectetur! Doloribus at alias enim ratione accusantium et, aperiam architecto quae fuga!


        </div>
</body>

</html>
