<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <style>

  body {
    padding-top: 54px;
  }
  .newtext{
    text-align:center;
    padding-left:300px;
  }
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
    }
    @media only screen and (max-width: 700px) {
    .newtext{
      padding-left: 44px;
    }
    }
  </style>
    <title>KVNET</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" />

    <!-- Custom styles for this template -->
    <!-- <link href="css/small-business.css" rel="stylesheet"> -->

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Welcome to KVNET</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#">I Like my school

              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Careers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Proposals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Teaching Materials</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class = "row" >
      <h1  class = "newtext"><a href = "/happypose">Happening Now. HappyPose 2018</a></h1>
    </div>

    <!-- Page Content -->
    <div class="container">

      <!-- Heading Row -->
      <div class = "row">
        <div class = "col-md=12">
          <!-- <h1>        International Day of Happiness</h1> -->
          <!-- <b><h4> -->
            <h3 style = "text-align:center;color: #ce3333;">Attention Everyone </h3>
          <!-- </h4><b> -->
            <div class="jumbotron">
              <strong>Poster Contest</strong><br>
              <strong>Registration Closes on :</strong> Saturday, 17 February 2018<br>
              <strong>Last Date for the Submission:</strong> Wednesday, 28 February 2018<br>
              <strong>Declaration of Results:</strong> Tuesday, 20 March 2018<br>
              <strong>Eligibility:</strong> One Student One Entry<br>
              <strong>Class:</strong> Pre KG to Class iX<br>
              <strong>Registration Fee:</strong> Rupees One Hundred Only<br>
              <strong>Helpline:</strong> 9994370099<br>
              <strong>Email: edcare@gmail.com</strong><br>

<strong>              Nodal Point:</strong>
              Psychology Park, #1,Sundar Nagar,  KK Nagar, Tiruchirappalli 620021
            </div>
            <div class = "col-md-12">
              <h3>  HappyPose Contest:</h3><br>
              HappyPose is proud to invite students from Classes Pre-KG to IX to capture their moments of happiness in Photo, Slogan and Art forms and replicate them in Poster Format (A4 Art / Chart Paper).

              HappyPose requests the Heads and Principals of the Schools and Kindergarten to motivate their children to participate in the event with their ideas of Happiness and make HappyPose  a great success.
            </div>
            <div class = "col-md-12">
              <p>  <h3>What is the big idea?</h3>

                The idea is happiness should prevail and pervade all over, from every humble human, to the whole of humanity, from hearts and homes to the schools and the society.

                We request your cooperation for making HappyPose  a grand success.</p>
              </div>
            </div>
          </div>
<div class = "col-md-12">
  <div class="card">
  <div class="card-header"> <h1> HappyPose 2017</h1></div>
  <div class="card-body">HappyPose was last conducted in 2017 and was primarily limited to schools in the central TN Zone.</div>
  <div class="card-footer">
    Diwakar.M from St. Vincent Matriculation School and Shivani Shri. Muthukumar, from Kamala Niketan Montessori School won the Titles for the year.  Chellammal Vidyalaya bagged a huge number of gold and silver medals, while the students of  Amrita vidhyalayam, Alpha Wisdom Vidyashram Senior Secondary School, and St. Joan of Arc International School, amongst a few others, gave a close win contest to wrestle out a few memoirs for themselves.</div>
</div>



</div>
<div class = "col-md=12">
<a href = "" download><p>Click here to know all details</p></a>
</div>

          <!-- /.container -->

          <!-- Footer -->
          <footer class="py-5 bg-dark">
            <div class="container">
              <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
            </div>
            <!-- /.container -->
          </footer>

          <!-- Bootstrap core JavaScript -->
          <script
          src="http://code.jquery.com/jquery-3.3.1.js"
          integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
          crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

        </body>

        </html>
