<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
<style>

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}</style>
    <title>KVNET</title>

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" />

    <!-- Custom styles for this template -->
    <!-- <link href="css/small-business.css" rel="stylesheet"> -->

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Welcome to KVNET</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#">I Like my school

              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Careers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Proposals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Teaching Materials</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<div class = "row" >
<h1><a href = "" style = "text-align:center;padding-left:300px" class="nav-link">Happening Now. HappyPose 2018. Enter </a></h1>
</div>

    <!-- Page Content -->
    <div class="container">

      <!-- Heading Row -->
      <div class="row my-4">
        <div class="col-lg-8">
          <img class="img-fluid rounded" src="/images/logo.png" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <h1>Welcome. Happy Landing and staying with KVNET</h1>
          <p>Kvnet.in is an unique and an exclusive among the best resources on Kindergarten to lower, middle and the upper classes of school education in India, across the many stages of development of your children.</p>
          <!-- <a class="btn btn-primary btn-lg" href="#">Call to Action!</a> -->
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      <!-- Call to Action Well -->
      <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body" >
          <p>Search about your school here
          <input type = "text" class="form-control" placeholder="search your school here"></input>
          </p>
        </div>
      </div>

      <!-- Content Row -->
      <div class="row">
<h1>About Us V</h1>



<p>Kvnet.in is an unique and an exclusive among the best resources on Kindergarten to lower, middle and the upper classes of school education in India, across the many stages of development of your children.</p>

<p>This database of schools across the states and Union Territories in India, gives you both a comprehensive and a focused view of the openings in places nearby to your home, and the village or the Local body panchayat, town, city or any further to a district, city, capital, metro or the state, afar. Effort is made to represent all the rural and the urban areas in the Indian Sub continent. Effort is also made to represent schools for toddlers and preschoolers, as is to the adolescents. Added to this, is also a scope to register your institution, in case of its non availability.</p>

<p>Never before has such an opportunity been to the parents, teachers, students and the many other administrators, to connect and learn more about the many options that is available in the country. India has a variety of National, International and also state level boards of education, offering nursery, primary, upper primary / middle, secondary, and senior secondary / junior college levels of education.</p>

<p>You can as well aim to promote your school by your likes and sharing, so to increase the visibility of the pride of your alma mater, to the many.</p>

<p>You may say more about your school and also post like messages to your school to view. This may help your school very much.</p>

<p>The schools may take a leaf or more from the viewer comments and also build on the profile and standing of the institution.</p>

<p>There can be a post, search and register for job offers and can also be some third party proposals to the schools.</p>

<p>The user value of k12net dot in is real large and you have begun to explore it now.</p>

<br>
<p>Happy landing.</p>



        <!-- <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Card One</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">More Info</a>
            </div>
          </div>
        </div> -->
        <!-- /.col-md-4 -->
        <!-- <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Card Two</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">More Info</a>
            </div>
          </div>
        </div> -->
        <!-- /.col-md-4 -->
        <!-- <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Card Three</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">More Info</a>
            </div>
          </div>
        </div> -->
        <!-- /.col-md-4 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script
    src="http://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
