<% include top %>
<div class="container">
    <div class = "row">
    <div class = "col-md-3"></div>
    <div class = "col-md-6">
                    <form class="form-horizontal" role="form" action="/register" method="post">
                <h2>Registration Form</h2>
<div class = "form-group">
                        <div class="col-sm-9">
                             <input type="radio" name="typeofuser" id = "typeofuser" value="Individual"> Individual<br>
  <input type="radio" name="typeofuser" id = "typeofuser" value="School"> School<br>
                    </div>

</div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" id="firstName" placeholder="Full Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="email" id="email" placeholder="Email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="password" id="password" placeholder="Password" class="form-control">
                    </div>
                </div>
<!--                 <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
                    <div class="col-sm-9">
                        <input type="date" id="birthDate" class="form-control">
                    </div>
                </div> -->
                <div class="form-group">
                    <div class="col-sm-9">
                        <select id="country" class="form-control">

                        </select>
                    </div>
                </div> <!-- /.form-group -->
                                <div class="form-group">
                    <div class="col-sm-9">
                        <select id="City" class="form-control">

                        </select>
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                </div>
            </form> <!-- /form -->
    </div>
    <div class = "col-md-3"></div>
</div>
        </div> <!-- ./container -->

  
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>
<script>
$(document).ready(function() {
    // $("#displayer").hide();

    // $('#shower').click(function() {
    //     $("#displayer").show();
    // })
    // Handler for .ready() called.
});

$("#typeofuser").change(function(){
    
})
</script>